# Package Files #
*.war
*.ear

*.class
*.bak
*.tmp
*.log


/bin/
build.sh
integration-repo
/build/
.settings/
# IDEA metadata and output dirs
/.idea/
*.iml
*.ipr
*.iws
out

/webapp/WEB-INF/classes/
/webapp/WEB-INF/target/


/classes/
*.classpath
*.project




target/
*.cache
/cache/
*.cache.lock




### Example user template template
### Example user template

# IntelliJ project files
.idea
gen
/target/
