<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
				xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
				xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
				xsi:schemaLocation="http://www.springframework.org/schema/beans
				 http://www.springframework.org/schema/beans/spring-beans.xsd
				  http://www.springframework.org/schema/context
				   http://www.springframework.org/schema/context/spring-context-4.0.xsd
				   http://www.springframework.org/schema/jee
				   http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
				   http://www.springframework.org/schema/mvc
				    http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
				     http://www.springframework.org/schema/util 
				      http://www.springframework.org/schema/util/spring-util-4.1.xsd">
				      
				      
				      
				      <context:annotation-config/>
				      <context:component-scan base-package="com.seamount.spring.controller" />
				      <mvc:annotation-driven />
				      
				      
				      <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
				      	<property name="prefix" value="/WEB-INF/views/" />
				      	<property name="suffix" value=".jsp" />
				       </bean>

		<mvc:interceptors>
			<mvc:interceptor>
				<!-- path配置</**>拦截所有请求，包括二级以上目录，</*>拦截所有请求，不包括二级以上目录 -->
				<mvc:mapping path="/**"/>
				<bean class="com.seamount.spring.filter.Intercepotor1"/>
			</mvc:interceptor>
			<mvc:interceptor>
				<mvc:mapping path="/**"/>
				<bean class="com.seamount.spring.filter.Interceptor2"/>
			</mvc:interceptor>
			<mvc:interceptor>
				<mvc:mapping path="/**"/>
				<bean class="com.seamount.spring.filter.Interceptor3"/>
			</mvc:interceptor>
		</mvc:interceptors>

	<!-- 篡改 StringHttpMessageConverter编码 也可以封装response接口 esponse.setCharacterEncoding("UTF-8");
	        如果返回对象 默认转成json-->
	<!-- SpringMVC注解驱动 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain;charset=utf-8</value>
						<value>text/html;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>


</beans>